.button-primary,
.button-secondary {
    background-color: rgb(179, 175, 168);
    border: 1px solid rgb(78, 76, 74);
    padding: 0.9rem 3rem;
    border-radius: 8px;
}

.button-secondary {
    background-color: rgb(20, 181, 53);
    border: 2px solid rgb(20, 181, 53);
    position: relative;
    left: -1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button-primary:hover {
    background-color: rgb(204, 201, 196);
    color: rgb(78, 76, 74);
}

.button-secondary:hover  {
    background-color: rgba(20, 77, 201);
    border: 2px solid rgb(20, 77, 201);
    color: rgb(255, 255, 255);
}
