@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(78, 76, 74);
  --color-africa: rgb(20, 77, 201);
  --color-africa-light: rgba(20, 77, 201, 0.2);
  --color-america: rgb(20, 181, 53);
  --color-america-light: rgba(20, 181, 53, 0.2);
  --color-asia: rgb(201, 20, 32);
  --color-asia-light: rgba(201, 20, 32, 0.2);
  --color-europe: rgb(207, 182, 50);
  --color-europe-light: rgba(207, 182, 50, 0.2);
  --color-oceania-light: rgba(145, 16, 204, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Gochi Hand', cursive;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}
